<section id="bio">
  <!-- <section id="img-wrapper">
    <img src="{{site.data.author.dp}}" alt="" />
  </section> -->
  <section id="bio-wrapper">
    <div id="text-wrapper">
      <p>
        <b>Wednesday Night Rides</b> is a bi-weekly social bike ride in Philadelphia, PA USA. 
      </p>
      <br/>
      <p>
        We'll post details about upcoming rides here and on <a href="https://www.instagram.com/wednesdaynightrides/" target="_blank">Instagram</a> and <a href="https://www.reddit.com/user/wednightrides" target="_blank">Reddit</a>. You can also get updates by signing up for our email list:
      </P>
    <br />
      <div style="text-align: center" class="sender-form-field" data-sender-form-id="ljeg69v9dpk8ybhqagj"></div>
    
      <br/>
      <p>
      <ul>
        <li><a href="{{site.baseurl}}/how-we-ride">How We Ride</a></li>
        <li><a href="{{site.baseurl}}/glowy-zoey-order">Glowy Zoey Order Info!</a></li>
      </ul>
    </p>
    </div>
    <!-- <div id="social-wrapper">
      
      <a href="https://www.reddit.com/user/wednightrides" target="_blank">
        <span style="color: white"><i class="fa-brands fa-square-reddit fa-2xl"></i></span>
      </a>
      <a href="https://www.instagram.com/wednesdaynightrides/" target="_blank">
        <span style="color: white"><i class="fa-brands fa-square-instagram fa-2xl"></i></span>
      </a>
    </div> -->
  </section>
</section>
