<nav id="site-nav">
  <div class="nav-container">
    <a href="{{site.baseurl}}/" class="nav-home">Wednesday Night Rides</a>
    <div class="header-nav">
      <a href="{{site.baseurl}}/how-we-ride" class="nav-link">How We Ride</a>
      <div class="header-socials">
        <a href="https://www.instagram.com/wednesdaynightrides/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://bsky.app/profile/wednightrides.org" target="_blank" aria-label="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
        <a href="https://www.reddit.com/user/wednightrides" target="_blank" aria-label="Reddit"><i class="fa-brands fa-reddit"></i></a>
      </div>
    </div>
  </div>
</nav>
